In [8]:
%%html
<style>
table {float:left}
</style>

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **some of the key takeaways from the course**
* Some of the popular languages
* Some of the commonly used libraries
* expressions in Python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
* NumPy
* Pandas
* Matplotlib

|Data Science Tools|
|:---|
|Jupyter|
|Anaconda|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
import datetime
td = datetime.timedelta(minutes=200)
m, s = divmod(td.seconds, 60)
h, m = divmod(m, 60)
print("{}:{}".format(h,m))

3:20

## Author
name : Reiji Oikawa